# Fred DENIS -- 11-Jun-2025 -- rac-status.sh optional config file -- more info on https://bit.ly/2MFkzDw
# rac-status.sh sources ~/.rac-status.config  and then ./.rac-status.config if they exists
# All of these values have default values in rac-status.sh so this config file is optional; this is to overwrite the default values
# Below the list of all the supported "ENV_" variables. Each variable needs to be exported
# Values which are "YES" or "NO" are full upper case; valued which are "True" or "False" just have the first letter upper case (PascalCase)
#
#export  ENV_LONG_NAMES="YES"                                                         # -L option: If we try to shorten the host names in the output or not
#export     ENV_SHOW_DB="YES"                                                         # Show the Databases?
#export    ENV_SHOW_PDB="YES"                                                         # Show the PDBs?
#export   ENV_SHOW_LSNR="YES"                                                         # Show the Listeners?
#export    ENV_SHOW_SVC="NO"                                                          # Show the Services?
#export   ENV_SHOW_TECH="NO"                                                          # Show the Tech (DGs, ONS, etc ...)
#export    ENV_ADVM_DEV="False"                                                       # Show ADVM devices next to ACFS FS
#export    ENV_HIDE_DEV="True"                                                        # Hide ACFS FS and ADVM devices
#export ENV_USE_ORA_OPEN_MODE="False"                                                 # Use ORA_OPEN_MODE or STATE/TARGET to background color the instances ?
#
# Some more below; you may set these ones on very rare occasions
#
#export   ENV_DBMACHINE=/opt/oracle.SupportTools/onecommand/databasemachine.xml       # File where we should find the Exadata model as oracle user
#export        ENV_GREP="."                                                           # What we grep                  -- default is everything
#export      ENV_UNGREP="nothing_to_ungrep_unless_v_option_is_used$$"                 # What we don't grep (grep -v)  -- default is nothing
#export  ENV_USE_ORAENV="YES"                                                         # Use oraenv to set the ASM env (-e changes this to NO)
#export     ENV_REVERSE="NO"                                                          # Revert the colors to make them visible, useful for clear terminal backgrounds
#export ENV_WITH_COLORS="YES"                                                         # -r option: Output with colors, (-b changes this to NO); set to NO for permanent no colored output
#export  ENV_DIFF_HOURS="48"                                                          # Nb of hours the instance has been restarted
#export     ENV_SORT_BY=""                                                            # Column to sort by (see the help for possible values)
